* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

a {
    text-decoration: none;
    color: #000;
}

ul {
    list-style: none;
}


/* --------------------------------------------------- Top Header -------------------------------------------------------*/

.top-header {
    background: #cacccd;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.links {
    color: black;
    display: flex;
    flex-direction: row;
}

.top-header a {
    margin-left: 5px;
    margin-right: 5px;
}


/* ------------------------------------------ Header ----------------------------------------------  */

header {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header img {
    width: 50px;
    margin: 15px 5px;
}

header h1 {
    font-size: 30px;
    flex: 1;
    display: flex;
}

.amarillo {
    color: #93ba36;
}


/*NAVEGACION EN EL HEADER*/

.nav-main {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    /*position: absolute; LUEGO PREGUNTAR EN TUTORIAS*/
}

.nav-main ul {
    margin: 5px;
    display: flex;
    flex-direction: column;
}

.nav-main ul li {
    padding-bottom: 1px;
    margin-top: 10px;
}

.nav-main ul li button {
    border: 2px solid black;
    gap: 10px;
}

.nav-main ul li button:hover {
    border-bottom: 2px solid #000;
}

.nav-main .subs {
    background: #ffb103;
    padding: 10px;
    border-radius: 5px;
}


/*BOTON MENU*/

#btn-menu {
    margin-right: 7px;
    background: #ffb103;
    padding: 5px;
    border-radius: 5px;
}

#btn-menu:hover {
    border-bottom: 2px solid #000;
}


/*CLASE OCULTAR QUE SE SUPERPONE CON EL FLEX POR CASCADA*/

.ocultar {
    display: none;
}


/*----------------------------------------------TITULO PRINCIPAL------------------------------------------------*/

.titulo-principal {
    width: 100%;
    height: auto;
    border: 2px solid gray;
    font-size: 25px;
    text-align: center;
    background-image: url(../img/fondo-titulo.jpg );
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-size: contain;
}


/*BORDES DE COLORES*/

.adicional {
    margin-top: 40px;
    margin-left: 10px;
    margin-right: 10px;
    border-left: 4px solid #93ba36;
    border-bottom: 4px solid #93ba36;
}


/*TITULOS ENTRE SECTIONS (¿QUE SON?)*/

.adicional h3 {
    font-size: 25px;
    margin-left: 10px;
}


/*PARRAFOS ENTRE SECTIONS */

.adicional p {
    font-size: 20px;
    margin: 15px 10px;
}


/*CONTENIDO INFO*/

.cont-info {
    width: 100%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 15px;
}


/*BORDES INFERIORES E IZQUIERDOS DE LA LI*/

.cont-info .tam-fuentes {
    border-left: 4px solid #93ba36;
}


/*TITULOS DE LAS SECCION DE INFORMACION (¿QUE TIPOS HAY?)*/

.cont-info .tam-fuentes h3 {
    text-align: start;
    margin-top: 30px;
    margin-bottom: 5px;
    padding: 5px;
    font-size: 25px;
}


/*TITULOS DE LAS ENERGIAS DE LOS LI*/

.cont-info .tam-fuentes li h4 {
    font-size: 30px;
    margin-top: 20px;
    text-align: center;
}


/*-------------------------------------IMAGENES SECCION ENERGIAS--------------------*/

.tam-fuentes .img-cont {
    width: 350px;
    height: 150px;
    display: block;
    margin: auto;
    margin: 10px auto;
}

#energia-hidro {
    background-image: url(../img/enrg-hdr-index.png );
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-size: contain;
    width: 350px;
    height: 150px;
    display: block;
    margin: auto;
    margin: 10px auto;
}


/*PARRAFOS DE LAS SECCION INFORMACION (INFORMACION DE LAS NOTICIAS)*/

.cont-info .tam-fuentes p {
    font-size: 20px;
    margin: 15px 10px;
    text-align: justify;
}


/*BORDE LISTA TIPO DE ENERGIAS*/

.cont-info .tam-fuentes h3 {
    border-bottom: 2px solid #93ba36;
}


/*BORDE INFERIOR LISTA*/

.cont-info .tam-fuentes ul li {
    border-bottom: 2px solid #93ba36;
}


/*RESALTADO DE TEXTO EN SPAN*/

.resaltado {
    font-style: oblique;
    color: #93ba36;
}


/* ----------------------------------------------Tabla-----------------------------------------------------------  */

.tabla {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 3px solid #79992f;
}

th,
td {
    padding: 3px;
    width: 50%;
}

thead {
    background-color: #a1cf34;
    border-bottom: 5px solid #93ba36;
    color: white;
}

tr td {
    background-color: #ddd;
}

td:hover {
    background-color: #ffb103;
    color: white;
}

section {
    box-shadow: 5px grey;
}

.flex {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.botonesAdmin {
    width: 100%;
}


/*----------------------------------------------------- FORMULARIO SUBSCRIPCIONES ---------------------------------------------------------*/


/*FONDO FORMULARIO*/

.formulario-subs {
    display: flex;
    flex-direction: column;
    background: url(../img/fondo-formulario.jpg);
    padding: 20px;
    color: white;
}


/*FORMULARIO*/

.cont-formulario {
    display: block;
    border: 2px solid black;
    text-align: start;
    margin: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
}


/*MARGEN Y TAMAÑO DE LOS ELEMENTOS DEL FORMULARIO*/

.input {
    padding-top: 3px;
    padding-bottom: 3px;
    margin-bottom: 5px;
}


/*COLOR DEL FORMULARIO*/

label {
    color: white;
}


/*BOTONES DE FORM*/

.radio-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 5px;
    margin-bottom: 5px;
}


/*------------------------------------------------ Quienes Somos ----------------------------------------------------*/

.q-Somos {
    margin: auto;
    padding: 32px;
    padding-left: 10px;
}

.q-Somos h2 {
    font-size: 27px;
    width: 30%;
    font-family: 'Lato', sans-serif;
    color: #93ba36;
    padding-bottom: 15px;
    border-bottom: 5px solid #93ba36;
}

.q-Somos .txt-qs p {
    padding: 30px 0;
    line-height: 1.7em;
}

.e-big {
    float: left;
    font-size: 25px;
    line-height: 1;
    margin: 0 5px 0 0;
    text-transform: uppercase;
}

.pilares {
    border-left: 5px solid #93ba36;
    font-size: 30px;
}

.pilares ul li p {
    font-size: 20px;
}

.q-Somos i {
    color: #ffb103;
    margin-top: 10px;
    margin-left: 15px;
    cursor: context-menu;
}

.pilares ul li {
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    color: #000;
    border-bottom: 4px solid #93ba36;
    padding: 13px;
}

.pilares h4 {
    margin-left: 25px;
    border-bottom: 4px solid #93ba36;
}

.borrar {
    display: none;
}

.rojo {
    color: red;
}

footer {
    display: flex;
    justify-content: center;
}


/*-------------------------------------------------------MEDIAQUERIES--------------------------------------------*/

@media only screen and (min-width: 768px) {
    header img {
        width: 150px;
        margin: 15px 5px;
        padding-top: 60px;
    }
    header h1 {
        font-size: 80px;
    }
    .nav-main {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }
    .ocultar {
        display: flex;
    }
    #btn-menu {
        display: none;
    }
    .nav-main ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 10px;
    }
    .titulo-principal {
        font-size: 60px;
        max-height: 650px;
        min-height: 320px;
    }
    .adicional h3 {
        font-size: 50px;
        margin-left: 10px;
    }
    .adicional p {
        font-size: 30px;
        margin: 15px 10px;
    }
    .formulario-subs {
        padding: 60px;
    }
    .tabla {
        width: 80%;
        margin-top: 50px;
        margin-left: auto;
        margin-right: auto;
    }
    .flex {
        display: flex;
    }
    .flex input {
        width: 50%;
    }
    .flex button {
        width: 33%;
    }
    .nav-main ul li a {
        border: none;
    }
}

@media only screen and (min-width: 1199px) {
    .cont-info .tam-fuentes ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: center;
        justify-content: space-evenly;
    }
    .cont-info .tam-fuentes ul li {
        border-bottom: none;
        border: 2px solid #93ba36;
    }
    .cont-info .tam-fuentes h3 {
        font-size: 50px;
        border: none;
    }
    .lista-row {
        width: 30%;
    }
}